<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5y2W9n0qYO0KCj8dxKZYJylafrr2X68w</string>
	<key>GCM_SENDER_ID</key>
	<string>620503643760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myZypher.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zypher2</string>
	<key>STORAGE_BUCKET</key>
	<string>zypher2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620503643760:ios:c8bfacdd9ecba3842e26b5</string>
</dict>
</plist>